@import 'tailwindcss';

@theme {
  --font-*: initial;
  --font-sans:
    Roboto, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe\UI, Helvetica\Neue, Arial, Noto\Sans, sans-serif, Apple\Color\Emoji,
    Segoe\UI\Emoji, Segoe\UI\Symbol, Noto\Color\Emoji;

  --background-image-top-blue-curve: url('../assets/top-blue-curve.svg');
  --background-image-bottom-blue-curve: url('../assets/bottom-blue-curve.svg');
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility dropdown {
  @apply float-left overflow-hidden;
  &:hover .dropdown-content {
    @apply block;
  }
}

@utility dropdown-button {
  @apply text-3xl border-none outline-hidden text-white p-2 m-0 cursor-default hover:bg-blue-500;
}

@utility dropdown-content {
  @apply hidden absolute bg-black min-w-[160px] shadow-2xl z-10 rounded-b-3xl;
  & a {
    @apply float-none text-white p-5 block text-left hover:bg-blue-300 rounded-3xl;
  }
  .dropdown:hover & {
    @apply block;
  }
}

@utility course-link {
  @apply underline text-blue-500 visited:text-purple-500;
}

@utility about-section {
  @apply flex flex-col lg:flex-row items-center pl-5 pr-5 justify-evenly bg-blue-300;
}

@utility contact-icon {
  @apply hover:scale-125 transition-all origin-left;
}

@utility projects-icon {
  @apply hover:scale-110 transition-all flex items-center mb-3;
}

@utility section-header {
  @apply text-8xl font-bold text-white pb-10;
}

@utility education-section {
  @apply md:flex md:justify-center md:flex-col gap-10 pb-10;
}

@utility education-block {
  @apply flex w-full max-w-full p-10 bg-white rounded-3xl shadow-2xl shadow-blue-700 items-center;
}

@utility work-experience-block {
  @apply flex w-full max-w-full p-10 bg-white rounded-3xl shadow-2xl shadow-blue-700 items-center;
}

@utility work-experience-section {
  @apply md:flex md:justify-center md:flex-col gap-10 pb-10;
}

@utility leadership-block {
  @apply flex w-full max-w-full p-10 bg-white rounded-3xl shadow-2xl shadow-blue-700 items-center;
}

@utility leadership-section {
  @apply md:flex md:justify-center md:flex-col gap-10 pb-10;
}

@utility projects-section {
  @apply grid gap-10 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 pb-10;
}

@utility projects-block {
  @apply /* shadow-2xl shadow-blue-700 */ rounded-3xl;
}

@utility skills-section {
  @apply md:flex md:justify-center md:flex-col gap-10 pb-10;
}

@utility skills-block {
  @apply w-full max-w-full p-10 bg-white rounded-3xl shadow-2xl shadow-blue-700 flex flex-wrap justify-evenly gap-10;
}